<h1>List of Events</h1>

<table class="table table-striped">
  <tr>
    <th>Event begins at:</th>
    <th>Event ends at:</th>
    <th>Description of event</th>
    <th>Cars in event</th>
    <th>Places of event</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.begin_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.description %></td>
    <td>
      <%= event.cars.each do |с| %>
        <%= с.first %>
      <% end %>
    </td>
    <td><%= event.places %></td>

    <td><%= link_to "Edit", edit_event_path(event) %></td>
    <td><%= link_to "Destroy", event, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>

<br>

<%= link_to "Add new event", new_event_path %>