<h1>List of Places</h1>
 
<table class="table table-striped">
  <tr>
    <th>Адреса</th>
    <th>Місто</th>
    <th>Kоординати: широта</th>
    <th>Kоординати: довгота</th>
    <th>Тип місця</th>
  </tr>
 
<% @places.each do |place| %>
  <tr>
    <td><%= place.address %></td>
    <td><%= place.city %></td>
    <td><%= place.latitude %></td>
    <td><%= place.longitude %></td>
    <td><%= place.landmark %></td>

    <td><%= link_to "Edit", edit_place_path(place) %></td>
    <td><%= link_to "Destroy", place, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
</table>
 
<br>
 
<%= link_to "Add new place", new_place_path %>
